@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="col-lg-offset-2">Welcome to SPM</h1>
    
    
</div>

<div class="row" style="padding-top: 100px;">    
    <div class="col-md-offset-2">          
          <h2>Students <small>planning made easy.</small></h2>
            <p>A simple to use web app that puts you in control of tracking your projects, tests, due dates and grades.</p>           
    </div>  
</div>